
.email-details {
  display:grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 5px;  
  cursor: pointer;
 
    margin-top: 50px;
    background: #e7ecef;
    align-content: center;

    border: 3px solid #5c5e5c;
}

  
   .email-details > div {
    align-content: center;
    border: 1px solid #5c5e5c;
    padding: 10px;
    background-color:white ;
  } 
  .email-details .article-body{
    padding: 10px;
    text-align: left;
    background:white;
    color: rgb(2, 2, 2);
    font-size: 20px;
    overflow-y: scroll;
    
}

.email-details > .email-details-go-back{
  background-color: hsl(30, 1%, 70%);
  color: white;
  padding: 15px 10px;
  justify-self: center;
  margin: 5px;
}