
 .list-grid-container{
  display: grid;
  grid-template-columns: minmax(20px,40px) minmax(20px,40px) auto minmax(30px,100px) ;
  grid-template-rows: auto;
  gap: 5px;  
  cursor: pointer;
  overflow-y: scroll;

 }



 .list-grid-container.blod
{
  background-color: white;
}

.list-grid-container.normal{
  background-color:#f0eeee;
}
 .list-grid-container:hover {
  background-color: rgb(174, 227, 243);
  transform: translateY(0);
} 



 .list-grid-container .email-preview {
  display: grid;
  grid-template-columns: auto auto auto;
  
}



