.blod {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

/* .email-preview {
    background: #e96b9509;
    background-repeat: no-repeat;
    box-shadow: 0 0 11px red;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}





.email-preview .actions a {
    color: rgb(223, 11, 11);
}

.email-preview:hover .actions {
    transform: translateY(0);
} */