.blod {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}


.list-grid-container .email-preview {
    display: grid;
     grid-template-columns: 20% 30% 40% 10%;
   
  }
 /* .list-grid-container .email-preview .flexEmailPreview{
    /* background-color: #d71111; */
    /* margin: 5px;
    padding: 10px;
    font-size: 20px; */
  /*}  */




/* .email-preview .actions a {
    color: rgb(223, 11, 11);
}

.email-preview:hover .actions {
    transform: translateY(0);
} */ 