.email-filter-side{
    display: grid;
    grid-template-columns: minmax(20px,1fr) minmax(auto,100px) minmax(20px,1fr) ;
    gap: 6px;
    
}

.email-filter-side  > div{
    grid-column: 2;
    width: 0px;
}