.email-filter-side{
    display: grid;
    grid-template-columns: minmax(20px,1fr) minmax(auto,150px) minmax(20px,1fr) ;
    grid-template-rows: repeat(6 , 40px);
    gap: 6px;
    
}

.email-filter-side  > div{
     grid-column: 2; 
     width: 0px;
  

}

.email-filter-side > div > .email-compose-in-folder-filter
{
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_24dp.png);
   /* background-image: url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_fill_baseline_p900_20dp.png);*/
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
}
/* .email-filter-side > div > .email-compose-in-folder-filter{
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_24dp.png);
    background-size: 24px;
    height: 20px;
    width: 20px;
} */
   
  
   
